@model Cuna_Mas_Web2.Models.Observacion
@{
    ViewBag.Title = "Mantenimiento Observación";

    List<Cuna_Mas_Web2.Models.Madre> madre = ViewBag.madre;
}

<br />
<nav aria-label="breadcrumb">
    <h2 class="text-center">Mantenimiento de tabla observación</h2>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="padding-left:0.5em;"><a href="~/Observacion/Index">Lista de Observaciones</a></li>
            <li class="breadcrumb-item active">
                @(Model.id > 0 ? Model.titulo : "Nuevo Observación")
            </li>
        </ol>
    </div>
</nav>
<br />
@using (Html.BeginForm("Guardar", "Observacion", FormMethod.Post, new { @id = "frm-persona" }))
{
    @Html.HiddenFor(x => x.id)
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Id:")
                @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
            </div>

            <div class="form-group">
                @Html.Label("Titulo:")
                @Html.TextBoxFor(x => x.titulo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.titulo, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Descripción:")
                @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Fecha:")
                <input type="date" name="fecha" id="fecha" class="form-control">
                @*@Html.TextBoxFor(x => x.fecha, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(x => x.fecha, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Madre Cuidadora")
                <select name="fk_id_madre_cuidadora" class="form-control">
                    <option @(Model.fk_id_madre_cuidadora.Equals("") ? "selected" : "") value="">Seleccione</option>
                    @foreach (var item in madre)
                    {
                        <option @(Model.fk_id_madre_cuidadora.Equals(item.id) ? "selected" : "")
                                value="@item.id">
                            @item.nombre
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.fk_id_madre_cuidadora, null, new { @class = "label label-danger" })
            </div>

        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">GRABAR</button>
        <a href="~/Observacion/Index" class="btn btn-danger">CANCELAR</a>
    </div>
}
<br />