@model Cuna_Mas_Web2.Models.Ranking
@{
    ViewBag.Title = "Mantenimiento Ranking";

    List<Cuna_Mas_Web2.Models.Madre> madre = ViewBag.madre;
}

<nav aria-label="breadcrumb">
    <h2 class="text-center">Mantenimiento de Ranking</h2>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="padding-left:0.5em;"><a href="~/Ranking/Index">Lista de Datos Medicos</a></li>
            <li class="breadcrumb-item active">
                @(Model.id > 0 ? Model.Madre.nombre : "Nuevo Registro")
            </li>
        </ol>
    </div>
</nav>
@using (Html.BeginForm("Guardar", "Ranking", FormMethod.Post, new { @id = "frm-persona" }))
{
    @Html.HiddenFor(x => x.id)
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.Label("Id:")
                    @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("Puntuación:")
                    @Html.TextBoxFor(x => x.puntuacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.puntuacion, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("Madre Cuidadora")
                    <select name="fk_id_madre" class="form-control">
                        <option @(Model.fk_id_madre.Equals("") ? "selected" : "") value="">Seleccione</option>
                        @foreach (var item in madre)
                        {
                            <option @(Model.fk_id_madre.Equals(item.id) ? "selected" : "")
                                    value="@item.id">
                                @item.nombre
                            </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.fk_id_madre, null, new { @class = "label label-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">GRABAR</button>
        <a href="~/Ranking/Index" class="btn btn-danger">CANCELAR</a>
    </div>
}