@model Cuna_Mas_Web2.Models.Ranking
@{ 
    Cuna_Mas_Web2.Models.Usuario usu = new Cuna_Mas_Web2.Models.Usuario().Obtener(Cuna_Mas_Web2.Models.SessionHelper.GetUser());
    Cuna_Mas_Web2.Models.Padre papa = new Cuna_Mas_Web2.Models.Padre().ObtenerPapa(usu.id);
}

<section class="tables">
    <div class="">
        <div class="">
            <div class="">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Datos Padre</h3>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Guardar", "Ranking", FormMethod.Post, new { @id = "frm-padre" }))
                        {
                            <div class="form-group">
                                @Html.Label("Seleccione a la Madre")
                                <select name="fk_id_madre" class="form-control">
                                    <option value="">Seleccione</option>
                                    @foreach (var item in ViewBag.madres)
                                    {
                                        <option value="@item.id">
                                            @item.nombre
                                        </option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(x => x.fk_id_madre, null, new { @class = "label label-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Califique el desempeño de la Madre")
                                <select name="puntuacion" class="form-control">
                                    <option value="4">Excelente</option>
                                    <option value="3">Bueno</option>
                                    <option value="2">Regular</option>
                                    <option value="1">Malo</option>
                                    <option value="0">Pesimo</option>
                                </select>
                                @Html.ValidationMessageFor(x => x.puntuacion, null, new { @class = "label label-danger" })
                            </div>

                            //ID del Padre que va a votar
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.fk_id_padre, new { @class = "form-control", disabled = true, @Value = papa.id })
                            </div>

                            <button class="btn-success">ENVIAR</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>