@model List<Cuna_Mas_Web2.Models.Padre>
@{
    ViewBag.Title = "Tabla";
}
<br />
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item"><a href="~/Padre/AgregarEditar/">Agregar nuevo</a></li>
        <li class="breadcrumb-item active">Tablas</li>
    </ul>
</div>
<section class="tables">
    <div class="container-fluid">
        <div class="">
            <div class="">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Datos Padre</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre del Padre</th>
                                        <th>Nombre del Madre</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <th scope="row">@(item.id)</th>
                                        <td>@(item.nombrePadre)</td>
                                        <td>@(item.nombreMadre)</td>
                                        <td>@(item.telefono)</td>
                                        <td>@(item.direccion)</td>
                                        <td>@(item.estado)</td>
                                        <td>
                                            <a href="~/Padre/Ver/@item.id" class="btn btn-sm btn-warning">Detalles</a>
                                            <a href="~/Padre/AgregarEditar/@item.id" class="btn btn-sm btn-primary">Modificar</a>
                                            <a href="~/Padre/Eliminar/@item.id" class="btn btn-sm btn-danger" onclick="return confirm('¿Esta seguro de eliminar el registro ...?')">Eliminar</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>