@model Cuna_Mas_Web2.Models.MetodoAprendizaje
@{
    ViewBag.Title = "AgregarEditar";
}
<br />
<nav aria-label="breadcrumb">
    <h2 class="text-center">Mantenimiento de Metodos de Aprendizaje</h2>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="padding-left:0.5em;"><a href="~/Metodo/Index">Lista de Metodos</a></li>
            <li class="breadcrumb-item active">
                @(Model.id > 0 ? Model.descripcion : "Nuevo Registro")
            </li>
        </ol>
    </div>
</nav>
<br />
@using (Html.BeginForm("Guardar", "Metodo", FormMethod.Post, new { @id = "frm-persona" }))
{
    @Html.HiddenFor(x => x.id)
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Id:")
                @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
            </div>

            <div class="form-group">
                @Html.Label("Descripción:")
                @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Rango de edades aplicable: ")
                @Html.TextBoxFor(x => x.rango_edad, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.rango_edad, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Procedimiento: ")
                @Html.TextAreaFor(x => x.procedimiento, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.procedimiento, null, new { @class = "label label-danger" })
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">GRABAR</button>
        <a href="~/Metodo/Index" class="btn btn-danger">CANCELAR</a>
    </div>
}
<br />