@using Cuna_Mas_Web2.Models;
@{
    ViewBag.Title = "MadreJefa";

    List<Usuario> usuarios = new Usuario().Listar();

    Madre mama = ViewBag.Mama;
}

<div class="">
    <div class="">
        <!-- Page Header-->
        <header class="page-header">
            <div class="text-center">
                <h2 class="no-margin-bottom">Dashboard Madre Jefa</h2>
            </div>
        </header>
        <!-- Dashboard Counts Section-->
        @Html.Partial("_PartialCantidadMadre")

        <!-- Visualizar el Ranking -->
        <section class="client padding-top">
            <div class="">
                <div class="row">
                    <!-- Client Profile -->
                    <div class="col-lg-6">
                        <div class="client card">
                            <div class="card-body text-center">
                                <div class="client-avatar">
                                    <img src="~/Assets/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle">
                                    <div class="status bg-green"></div>
                                </div>
                                <div class="client-title">
                                    <h3>@(mama.nombre + ", " + mama.apellido)</h3><span>@mama.Usuario.tipo</span><a href="~/Madre/Ver/@mama.id">Detalles</a>
                                </div>
                                <div class="client-info">
                                    <div class="row">
                                        <div class="col-12"><strong>La Mejor empleada del mes</strong><br><small>@ViewBag.puntos Puntos</small></div>
                                        @*<div class="col-4"><strong>La Mejor empleada del mes</strong><br></div>*@
                                        @*<div class="col-4"><strong>235</strong><br><small>Tasks</small></div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_PartialReunionesMadre")
                </div>
        </section>



        <!-- Feeds Section-->
        <section class="feeds no-padding-top">
            <div class="">
                <div class="row">
                    <!-- Lista de Padres-->
                    @Html.Partial("_PartialListaPadresMadre")
                    <!-- Reuniones Activas -->
                    @*@Html.Partial("_PartialReunionesMadre")*@
                </div>
            </div>
        </section>
    </div>
</div>