
@{
    ViewBag.Title = "MadreJefa";
    Cuna_Mas_Web2.Models.Ranking ModelRanking = new Cuna_Mas_Web2.Models.Ranking();

    List<Cuna_Mas_Web2.Models.Padre> papas = new Cuna_Mas_Web2.Models.Padre().Listar();

    List<Cuna_Mas_Web2.Models.Usuario> usuarios = new Cuna_Mas_Web2.Models.Usuario().Listar();
}

<div class="">
    <div class="">
        <!-- Page Header-->
        <header class="page-header">
            <div class="text-center text-uppercase">
                <h2 class="no-margin-bottom">Dashboard Madre Jefa</h2>
            </div>
        </header>
        <!-- Dashboard Counts Section-->
        <section class="dashboard-counts no-padding-bottom">
            <div class="">
                <div class="row bg-white has-shadow">
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-violet"><i class="icon-user"></i></div>
                            <div class="title">
                                <span>Cantidad<br>Niños</span>
                                <div class="progress">
                                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                </div>
                            </div>
                            <div class="number"><strong>@ViewBag.cantNinios</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-red"><i class="icon-padnote"></i></div>
                            <div class="title">
                                <span>Madres<br>Cuidadora</span>
                                <div class="progress">
                                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                </div>
                            </div>
                            <div class="number"><strong>@ViewBag.cuidadoras</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-green"><i class="icon-bill"></i></div>
                            <div class="title">
                                <span>Madres<br>Familia</span>
                                <div class="progress">
                                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                                </div>
                            </div>
                            <div class="number"><strong>@ViewBag.familias</strong></div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-xl-3 col-sm-6">
                        <div class="item d-flex align-items-center">
                            <div class="icon bg-orange"><i class="icon-check"></i></div>
                            <div class="title">
                                <span>Madres<br>Guia</span>
                                <div class="progress">
                                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                                </div>
                            </div>
                            <div class="number"><strong>@ViewBag.guias</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Visualizar el Ranking -->
        @Html.Partial("_PartialRanking", ModelRanking)


        <!-- Feeds Section-->
        <section class="feeds no-padding-top">
            <div class="">
                <div class="row">
                    <!-- Trending Articles-->
                    <div class="col-lg-6">
                        <div class="articles card">
                            <div class="card-header d-flex align-items-center">
                                <h2 class="h3">Lista de Padres   </h2>
                                <div class="badge badge-rounded bg-green">@(papas.Count + " Padres")       </div>
                            </div>
                            <div class="card-body no-padding">
                                @foreach (var item in papas)
                                {
                                <div class="item d-flex align-items-center">
                                    <div class="image"><img src="img/imagenUsuario.png" alt="..." class="img-fluid rounded-circle"></div>
                                    <div class="text">
                                        <a href="~/Padre/Ver/@item.id">    
                                            <h3 class="h5">@("Padre: " + item.nombrePadre + ", Madre: " + item.nombreMadre)</h3>
                                        </a><small>@("Dirección: " + item.direccion + ", Telefono: " + item.telefono)   </small>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Recent Activities -->
                    <div class="col-lg-6">
                        <div class="recent-activities card">
                            <div class="card-close">
                                <div class="dropdown">
                                    <button type="button" id="closeCard8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                    <div aria-labelledby="closeCard8" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                </div>
                            </div>
                            <div class="card-header">
                                <h3 class="h4">Recent Activities</h3>
                            </div>
                            <div class="card-body no-padding">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-4 date-holder text-right">
                                            <div class="icon"><i class="icon-clock"></i></div>
                                            <div class="date"> <span>6:00 am</span><br><span class="text-info">6 hours ago</span></div>
                                        </div>
                                        <div class="col-8 content">
                                            <h5>Meeting</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-4 date-holder text-right">
                                            <div class="icon"><i class="icon-clock"></i></div>
                                            <div class="date"> <span>6:00 am</span><br><span class="text-info">6 hours ago</span></div>
                                        </div>
                                        <div class="col-8 content">
                                            <h5>Meeting</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-4 date-holder text-right">
                                            <div class="icon"><i class="icon-clock"></i></div>
                                            <div class="date"> <span>6:00 am</span><br><span class="text-info">6 hours ago</span></div>
                                        </div>
                                        <div class="col-8 content">
                                            <h5>Meeting</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>