@model Cuna_Mas_Web2.Models.Ninio
@{
    ViewBag.Title = "Mantenimiento Ninio";

    List<Cuna_Mas_Web2.Models.Madre> madre = ViewBag.madre;
    List<Cuna_Mas_Web2.Models.Padre> padre = ViewBag.padre;
    List<Cuna_Mas_Web2.Models.MetodoAprendizaje> metodo = ViewBag.metodo;
}
<br />
<div id="Padre">
    <nav aria-label="breadcrumb">
        <h2 class="text-center">Mantenimiento de tabla Niño</h2>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="padding-left:0.5em;"><a href="~/Ninio/Index">Lista de Niño</a></li>
                <li class="breadcrumb-item active">
                    @(Model.id > 0 ? Model.nombre : "Nuevo Registro")
                </li>
            </ol>
        </div>
    </nav>
    <br />
    @using (Html.BeginForm("Guardar", "Ninio", FormMethod.Post, new { @id = "frm-persona" }))
    {
        @Html.HiddenFor(x => x.id)
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Id:")
                        @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("Nombre y Apellido:")
                        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Fecha:")
                        @Html.TextBoxFor(x => x.fecha_nacimiento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.fecha_nacimiento, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("Madre Cuidadora")
                        <select name="fk_id_cuidadora" class="form-control">
                            <option @(Model.fk_id_cuidadora.Equals("") ? "selected" : "") value="">Seleccione</option>
                            @foreach (var item in madre)
                            {
                                <option @(Model.fk_id_cuidadora.Equals(item.id) ? "selected" : "")
                                        value="@item.id">
                                    @item.nombre
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.fk_id_cuidadora, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Padre de Familia")
                        <select name="fk_id_padre" class="form-control">
                            <option @(Model.fk_id_padre.Equals("") ? "selected" : "") value="">Seleccione</option>
                            @foreach (var item in padre)
                            {
                                <option @(Model.fk_id_padre.Equals(item.id) ? "selected" : "")
                                        value="@item.id">
                                    @item.id
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.fk_id_padre, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("Tipo de Metodo")
                        <select name="fk_id_metodo" class="form-control">
                            <option @(Model.fk_id_metodo.Equals("") ? "selected" : "") value="">Seleccione</option>
                            @foreach (var item in metodo)
                            {
                                <option @(Model.fk_id_metodo.Equals(item.id) ? "selected" : "")
                                        value="@item.id">
                                    @item.id
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.fk_id_metodo, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("Estado:")
                        <select name="estado" class="form-control">
                            <option @(Model.estado == "" ? "selected" : "") value="">Seleccione</option>
                            <option @(Model.estado == "A" ? "selected" : "") value="A">Activo</option>
                            <option @(Model.estado == "I" ? "selected" : "") value="I">Inactivo</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">GRABAR</button>
            <a href="~/Tablas/TablaPadres" class="btn btn-danger">CANCELAR</a>
        </div>
    }
    <br />
</div>
