@using Cuna_Mas_Web2.Models
@{
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();

    Cuna_Mas_Web2.Models.Usuario usuario = new Cuna_Mas_Web2.Models.Usuario().Obtener(Cuna_Mas_Web2.Models.SessionHelper.GetUser());
    List<Cuna_Mas_Web2.Models.Madre> madre = new Cuna_Mas_Web2.Models.Madre().Listar();
    List<Cuna_Mas_Web2.Models.Padre> padre = new Cuna_Mas_Web2.Models.Padre().Listar();

    string name = "";
    string h = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cuna Más</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- higcharts CSS-->
    <link href="~/Assets/highchart/highcharts.css" rel="stylesheet" />
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Assets/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/Assets/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Assets/img/favicon.ico">
    <!-- JavaScript for push -->
    <script src="~/Assets/js/Push/push.min.js"></script>

    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>

    <script src="~/Assets/js/qrcode.js"></script>
    <!-- higcharts JS -->
    <script src="~/Assets/highchart/highcharts.js"></script>
    <script src="~/Assets/highchart/series-label.js"></script>
    <script src="~/Assets/highchart/highcharts-3d.js"></script>
    <script src="~/Assets/highchart/highcharts-more.js"></script>
    <script src="~/Assets/highchart/exporting.js"></script>
    <script src="~/Assets/highchart/offline-exporting.js"></script>

</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
            <header class="header">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-holder d-flex align-items-center justify-content-between">
                            <!-- Navbar Header-->
                            <div class="navbar-header">
                                <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                    <div class="brand-text d-none d-lg-inline-block"><span>Cuna Mas</span><strong> Dashboard</strong></div>
                                    <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                                </a>
                                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                            </div>
                            <!-- Navbar Menu -->
                            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                                <!-- Search-->
                                <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                                <!-- Notifications-->
                                <li class="nav-item dropdown">
                                    <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red badge-corner">12</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification">
                                                    <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>10 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                                    </ul>
                                </li>
                                <!-- Messages                        -->
                                <li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages   </strong></a></li>
                                    </ul>
                                </li>
                                <!-- Logout    -->
                                <li class="nav-item"><a href="~/Login/logout" class="nav-link logout"> <span class="d-none d-sm-inline">Salir</span><i class="fa fa-sign-out"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                    <div id="Madre" class="sidebar-header d-flex align-items-center">
                        <div class="avatar"><img src="~/Uploads/@usuario.imagen" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title">
                            @if (usuario.tipo.Equals("Padre Familia"))
                            {
                                foreach (var item in padre)
                                {
                                    if (item.fk_id_usuario.Equals(usuario.id))
                                    {
                                        name = item.apoderado;
                                        char[] aName = name.ToCharArray();
                                        if (aName.Count() > 10)
                                        {
                                            h = "h5";
                                        }
                                        else
                                        {
                                            h = "h3";
                                        }
                                    }
                                }
                                <h1 class="@h">@name</h1> <!-- Nombre -->
                            }
                            else
                            {
                                foreach (var item in madre)
                                {
                                    if (item.fk_id_usuario.Equals(usuario.id))
                                    {
                                        name = item.nombre + " " + item.apellido;
                                        char[] aName = name.ToCharArray();
                                        if (aName.Count() > 10)
                                        {
                                            h = "h5";
                                        }
                                        else
                                        {
                                            h = "h4";
                                        }
                                    }
                                }
                                <h1 class="@h">@name</h1> <!-- Nombre -->
                        }
                            <p>@usuario.tipo</p><!-- Tipo -->
                        </div>
                    </div>
                
                <!-- Sidebar Navidation Menus--><span class="heading">Principal</span>
                                                <ul class="list-unstyled">
                                                    @if (usuario.tipo.Equals("Jefa"))
                                                    {
                                                        <li>@Html.ActionLink("Inicio", "MadreJefa", "Visualizar")</li>
                                                    }
                                                    else if (usuario.tipo.Equals("Madre Familia"))
                                                    {
                                                        <li>@Html.ActionLink("Inicio", "Index", "Madre_Familia")</li>
                                                    }
                                                    else if (usuario.tipo.Equals("Madre Guia"))
                                                    {
                                                        <li>@Html.ActionLink("Inicio", "Index", "Madre_Guia")</li>
                                                    }
                                                    else if (usuario.tipo.Contains("Madre Cuidadora"))
                                                    {
                                                        <li>@Html.ActionLink("Inicio", "Index", "Madre_Cuidadora")</li>
                                                    }
                                                    else if (usuario.tipo.Equals("Padre Familia"))
                                                    {
                                                        <li>@Html.ActionLink("Inicio", "Index", "Visualizar")</li>
                                                    }
                                                    <li>
                                                        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Tablas </a>
                                                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                                                            @if (usuario.tipo.Equals("Padre Familia"))
                                                            {

                                                            }
                                                            else if (usuario.tipo.Equals("Madre Guia"))
                                                            {
                                                                <li> @Html.ActionLink("Madre Cuidadora", "Index", "Madre") </li>
                                                                <li> @Html.ActionLink("Padre Familia", "Index", "Padre") </li>
                                                                <li> @Html.ActionLink("Niños", "Index", "Ninio") </li>
                                                                <li> @Html.ActionLink("Observaciones", "Index", "Observacion") </li>
                                                            }
                                                            else if (usuario.tipo.Equals("Madre Cuidadora"))
                                                            {
                                                                <li> @Html.ActionLink("Datos Médicos", "Index", "DatosMedicos") </li>
                                                                <li> @Html.ActionLink("Alimentación", "Index", "MetodoAprendizaje") </li>
                                                                <li> @Html.ActionLink("Padre Familia", "Index", "Padre") </li>
                                                                <li> @Html.ActionLink("Niños", "Index", "Ninio") </li>
                                                                <li> @Html.ActionLink("Datos QR", "Index", "DatosQR") </li>
                                                            }
                                                            else if (usuario.tipo.Equals("Madre Familia"))
                                                            {
                                                                <li> @Html.ActionLink("Madre Cuidadora", "Index", "Madre") </li>
                                                                <li> @Html.ActionLink("Padre Familia", "Index", "Padre") </li>
                                                                <li> @Html.ActionLink("Niños", "Index", "Ninio") </li>
                                                                <li> @Html.ActionLink("Observaciones", "Index", "Observacion") </li>
                                                            }
                                                            else if (usuario.tipo.Equals("Jefa"))
                                                            {

                                                                <li> @Html.ActionLink("Madres Trabajadoras", "Index", "Madre") </li>
                                                                <li> @Html.ActionLink("Padre de Familia", "Index", "Padre") </li>
                                                                <li> @Html.ActionLink("Niños Afiliados", "Index", "Ninio") </li>
                                                                <li> @Html.ActionLink("Datos Médicos", "Index", "DatosMedicos") </li>
                                                                <li> @Html.ActionLink("Observaciones", "Index", "Observacion") </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                    <li>@Html.ActionLink("Graficos", "Index", "Graficos")</li>
                                                </ul>
            </nav>



            <div class="content-inner">
                <div class="container body-content">
                    @RenderBody()
                </div>
                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>CunaMas &copy; 2018</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Design by <a href="#" class="external">CunaMas.com</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    
        <!-- JavaScript files-->
        <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/Assets/vendor/popper.js/umd/popper.min.js"></script>
        <script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Assets/vendor/jquery.cookie/jquery.cookie.js"></script>
        <script src="~/Assets/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Assets/vendor/jquery-validation/jquery.validate.min.js"></script>
        <script src="~/Assets/js/charts-custom.js"></script>
        <!-- Main File-->
        <script src="~/Assets/js/front.js"></script>

        @* Login Validation *@
        <script src="~/Assets/js/Login/ini.js"></script>
        <script src="~/Assets/js/Login/jquery.form.js"></script>
        <script src="~/Assets/js/Login/jquery.validate.min.js"></script>
        <script src="~/Assets/js/Login/jquery.validate.unobtrusive.min.js"></script>
        
        @* Push Notification *@
        <script src="~/Assets/js/Push/push.min.js"></script>

        <script type="text/javascript">
            window.onload = function () {
                Push.Permission.request();
            }

            document.getElementById('btn').onclick = function () {
                Push.create('Notificación de prueba', {
                    body: 'Esta es una notificacion de prueba',
                    icon: '~/Assets/img/notificacion/campana.png',
                    timeout: 10000,
                    vibrate: [100, 100, 100],
                    onClick: function () {
                        alert('Click en la notificación');
                    }
                });
            }
        </script>    

    </body>
</html>