@model Cuna_Mas_Web2.Models.Usuario
@{
    ViewBag.Title = "Mantenimiento Usuario";
}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Mantenimiento de Usuario</h2>
    </div>
</header>
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Usuario/Index">Lista de Usuario</a></li>
        <li class="breadcrumb-item active"> @(Model.id > 0 ? Model.usuario1 : "Nuevo Registro")</li>
    </ul>
</div>
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                @*@Html.HiddenFor(x => x.id)*@
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Usuario</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { @id = "frm-persona", @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(x => x.id)
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Identificador</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Usuario</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.usuario1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.usuario1, null, new { @class = "label label-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Tipo</label>
                                    <div class="col-sm-9">
                                        <select name="tipo" class="form-control">
                                            <option @(Model.tipo == "" ? "selected" : "") value="">Seleccione</option>
                                            <option @(Model.tipo == "Madre Cuidadora" ? "selected" : "") value="Madre Cuidadora">Madre Cuidadora</option>
                                            <option @(Model.tipo == "Madre Familia" ? "selected" : "") value="Madre Familia">Madre Familia</option>
                                            <option @(Model.tipo == "Madre Guia" ? "selected" : "") value="Madre Guia">Madre Guia</option>
                                            <option @(Model.tipo == "Jefa" ? "selected" : "") value="Jefa">Jefa</option>
                                            <option @(Model.tipo == "Padre Familia" ? "selected" : "") value="I">Padre Familia</option>
                                        </select>
                                        @Html.ValidationMessageFor(x => x.tipo, null, new { @class = "label label-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Clave</label>
                                    <div class="col-sm-9">
                                        @Html.PasswordFor(x => x.clave, new { @class = "form-control", @placeholder = "Clave" })
                                        @Html.ValidationMessageFor(x => x.clave, null, new { @class = "label label-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 form-control-label">Estado</label>
                                    <div class="col-sm-9">
                                        <select name="estado" class="form-control">
                                            <option @(Model.estado == "" ? "selected" : "") value="">Seleccione</option>
                                            <option @(Model.estado == "A" ? "selected" : "") value="A">Activo</option>
                                            <option @(Model.estado == "I" ? "selected" : "") value="I">Inactivo</option>
                                        </select>
                                        @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.imagen)
                                @*<div class="form-group row">
                <label for="fileInput" class="col-sm-3 form-control-label">Imagen: </label>
                <div class="col-sm-9">
                    <input id="fileInput" type="file" name="foto" class="form-control-file" value="~/Uploads/@Model.imagen" accept="image/png, .jpeg, .jpg, image/gif">
                </div>
            </div>*@
                                <div class="form-group row">
                                    <label for="fileInput" class="col-sm-3 form-control-label">Imagen: </label>
                                    <div class="col-sm-9">
                                        <input id="fileInput" type="file" class="form-control-file" name="foto" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-3">
                                        <button data-ajax="true" @*type="submit"*@ class="btn btn-primary">GRABAR</button>
                                        <a href="~/Usuario/Index" class="btn btn-secondary">CANCELAR</a>
                                    </div>
                                </div>
                                    }
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </section>