@model Cuna_Mas_Web2.Models.Usuario
@{
    ViewBag.Title = "Ver";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="padding-left:10px"><a href="~/Usuario/Index">Lista Usuario</a></li>
        <li class="breadcrumb-item active">@Model.usuario1</li>
    </ol>
</nav>
<br />
<div class="container">
    <div class="row">
        <div class="card col-md" style="margin: 0.2em 0.2em; padding-top:1em;">
            <div class="card-body">
                <h3>Datos Usuario</h3>
                <p class="card-title"><b>Nombre del Usuario: </b>@Model.usuario1</p>
                
            </div>
        </div>
        <div class="card col-md" style="margin: 0.2em 0.2em; padding-top:1em;">
            <div class="card-body">
                <h3>Datos Usuario</h3>
                <p class="card-title"><b>Nombre del Usuario: </b>@Model.usuario1</p>
                <p class="card-title"><b>Clave: </b>@Model.clave</p>
                <p class="card-text"><b>Tipo: </b>@Model.tipo</p>
                <p class="card-text"><b>Estado: </b>@Model.estado</p>
            </div>
        </div>
    </div>
</div>
<br />