@using System
@{
    List<Cuna_Mas_Web2.Models.Padre> padre = ViewBag.padre;
    List<Cuna_Mas_Web2.Models.Reunion> reunion = ViewBag.reunion;

    string tipo = "Padre de Familia";
}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom text-center">Dashboard Madre de Familia</h2>
    </div>
</header><br />
<section class="feeds no-padding-top">
    <div class="">
        <div class="row">
            <div class="col-lg-6">
                <div class="articles card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h3">Lista de Padres   </h2>
                    </div>
                    <div class="card-body no-padding">
                        @foreach (var item in padre)
                        {
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="~/Uploads/@item.Usuario.imagen" alt="..." class="img-fluid rounded-circle"></div>
                                <div class="text">
                                    <a href="#">
                                        <h3 class="h5">@(item.apoderado)</h3>
                                    </a><small>@(tipo)</small>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="updates no-padding-top">
    <div class="">
        <div class="row">
            <div class="col-lg-6">
                <div class="recent-updates card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h3">Reuniones Recientes     </h2>
                        <div class="badge badge-rounded bg-green">4 New       </div>
                    </div>
                    <div class="card-body no-padding">
                        @foreach (var item in reunion)
                        {
                            string mes = Convert.ToDateTime(item.fecha).Month.ToString();

                            for (int i = 1; i <= 12; i++)
                            {
                                string[] meses = { "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" };
                                if (mes.Equals(i.ToString()))
                                {
                                    mes = meses[i - 1];
                                }
                            }
                            <!-- Item-->
                            <div class="item d-flex justify-content-between">
                                <div class="info d-flex">
                                    <div class="icon"><i class="icon-rss-feed"></i></div>
                                    <div class="title">
                                        <h5>@item.nombre</h5>
                                        <p>@item.descripcion</p>
                                    </div>
                                </div>
                                <div class="date text-right"><strong>@(Convert.ToDateTime(item.fecha).Day.ToString())</strong><span>@(mes)</span></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>