@model Cuna_Mas_Web2.Models.DatosMedicos
@{
    ViewBag.Title = "Mantenimiento Datos Medicos";

    List<Cuna_Mas_Web2.Models.Ninio> ninio = ViewBag.ninio;
}
<br />
<div id="Padre">
    <nav aria-label="breadcrumb">
        <h2 class="text-center">Mantenimiento de Datos Medicos</h2>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="padding-left:0.5em;"><a href="~/DatosMedicos/Index">Lista de Datos Medicos</a></li>
                <li class="breadcrumb-item active">
                    @(Model.id > 0 ? Model.nombre : "Nuevo Registro")
                </li>
            </ol>
        </div>
    </nav>
    <br />
    @using (Html.BeginForm("Guardar", "DatosMedicos", FormMethod.Post, new { @id = "frm-persona" }))
    {
        @Html.HiddenFor(x => x.id)
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Id:")
                        @Html.TextBoxFor(x => x.id, new { @class = "form-control", disabled = true })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("Nombre:")
                        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Altura:")
                        @Html.TextBoxFor(x => x.altura, new { @class = "form-control", @placeholder = " Altura del Niño" })
                        @Html.ValidationMessageFor(x => x.altura, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Peso:")
                        @Html.TextBoxFor(x => x.peso, new { @class = "form-control", @placeholder = "Peso del Niño" })
                        @Html.ValidationMessageFor(x => x.peso, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Indice:")
                        @Html.TextBoxFor(x => x.indice_nutricion, new { @class = "form-control", @placeholder = "Indice de Nutrición" })
                        @Html.ValidationMessageFor(x => x.indice_nutricion, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Fecha:")
                        @Html.TextBoxFor(x => x.fecha_revision, new { @class = "form-control", @placeholder = "011 51 1 1234567" })
                        @Html.ValidationMessageFor(x => x.fecha_revision, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Niño")
                        <select name="fk_id_ninio" class="form-control">
                            <option @(Model.fk_id_ninio.Equals("") ? "selected" : "") value="">Seleccione</option>
                            @foreach (var item in ninio)
                            {
                                <option @(Model.fk_id_ninio.Equals(item.id) ? "selected" : "")
                                        value="@item.id">
                                    @item.nombre
                                </option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.fk_id_ninio, null, new { @class = "label label-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">GRABAR</button>
            <a href="~/DatosMedicos/Index" class="btn btn-danger">CANCELAR</a>
        </div>
    }
    <br />
</div>
