@model Cuna_Mas_Web2.Models.Madre
@{
    ViewBag.Title = "Ver";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="padding-left:10px"><a href="~/Madre/Index">Lista Madres</a></li>
        <li class="breadcrumb-item active">@Model.nombre</li>
    </ol>
</nav>
<br />
<div class="container">
    <div class="row">
        <div class="card col-md" style="margin: 0.2em 0.2em; padding-top:1em;">
            <div class="card-body">
                <h3 class="text-center">Imagen de @Model.nombre</h3>
                <p class="card-text text-center"><img class="card-img-top" src="~/Assets/img/avatar-3.jpg" alt="Card image cap" style="width:150px;height:150px;"></p>
            </div>
        </div>
        <div class="card col-md" style="margin: 0.2em 0.2em; padding-top:1em;">
            <div class="card-body">
                <h3>Datos de la @Model.Usuario.tipo @Model.nombre</h3>
                <p class="card-title"><b>Nombre: </b>@Model.nombre</p>
                <p class="card-title"><b>Apellido: </b>@Model.apellido</p>
                <p class="card-text"><b>Edad: </b>@Model.edad</p>
            </div>
        </div>
        <div class="card col-md" style="margin: 0.2em 0.2em; padding-top:1em;">
            <div class="card-body">
                <h3>Datos del Trabajo</h3>
                <p class="card-text"><b>Horas laborales: </b>@Model.horas  </p>
                <p class="card-text"><b>Observaciones: </b>@Model.obserbaciones</p>
                <p class="card-text"><b>Comite: </b>@Model.comite</p>
                <p class="card-text"><b>Estado: </b>@Model.estado</p>
            </div>
        </div>
    </div>
        </div>
        <br />
